# Nx 18 enables using plugins to infer targets by default
# This is disabled for existing workspaces to maintain compatibility
# For more info, see: https://nx.dev/concepts/inferred-tasks
NX_ADD_PLUGINS=false

DB_IP=localhost
DB_PORT=5432
DB_DATABASE=postgres
DB_USER=postgres
DB_PASSWORD=postgres

VITE_APP_ID=

VITE_AUTH0_AUDIENCE=
VITE_AUTH0_ISSUER_URL=
VITE_AUTH0_CLIENT_ID=
